body{
    margin: 0;
    padding: 0;
    color: white;
}
.css-flexbox{
    background:#FFAFB0;
    margin: 20px;
    padding: 10px;
}
header{
    background:#96D1C7;
    width: 50%;
    padding: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}
main{
    display: flex;
    /* flex-direction: column; */
}
aside{
    background:#5EB7B7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 400px;
    margin: 0 20px 0px 20px ;
    padding: 10px;   
}
.container{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    flex-direction: column;
    background:#FC7978;
    width: 497px;
    height: 400px;
    padding: 10px;
}
.image_article{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    /* background-color: papayawhip;
    width: 150px;
    height: 150px;
    margin: 10px; */
    /* justify-content: space-between; */
    

}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 125px;
    height: 125px;
    margin: 10px 10px 0 10px ;
    background:#D6D5D5;
    padding: 10px;

    
}
footer{
    background:#96D1C7;
    width: 50%;
    padding: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}
.article{
    margin-top: 167px;
    padding: 20px;
    font-size: 24px;
}